# Compilation files
*.o
*.mod
*.exe
*.out

# Temporary files
*~
*.tmp

# System folders
__MACOSX/
.DS_Store

tests/parallel/test_mpi
tests/solver/test_solver
tests/mesh/read_mesh_files/test_read_mesh
venv/
