# Compilation files
*.o
*.mod
*.exe
*.out
*.dSYM

# Temporary files
*~
*.tmp

# System folders
__MACOSX/
.DS_Store

tests/parallel/test_mpi
tests/solver/test_solver
tests/solver/test_assemble_2d_mpi
tests/solver/test_assemble_3d_mpi
tests/mesh/read_mesh_files/test_read_mesh
tests/mesh/read_mesh_3d/test_read_mesh_3d
tests/parallel/test_mesh_partition
venv/
